body {
  font-family: 'Ubuntu', sans-serif;
}

.main {
  display: flex;
}

.container {
  min-width: 300px;
  background-color: #ebebeb;
}

.contacts {
  width: 100%;
}

.contact a {
  margin: 0 auto;
  display: flex;
  font-size: 16px;
  line-height: 25px;
  vertical-align: middle;
  padding: 15px 10px;
  position: relative;
  border: 1px solid #f5f5f5;
}

.contact:hover, .selected {
  background-color: white;
  box-shadow: 0 0 5px 0 #c5c5c5;
}

a {
  color: black;
  text-decoration: none;
}


.contact-avatar {
  width: 30px;
  height: 30px;
  background: linear-gradient(#cfe7fa, #6393c1);
  font-size: 25px;
  margin-right: 5px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  color: white;
}

.contact-last-message {
  font-size: 12px;
  color: darkgray;
  display: flex;
}

.contact-last-time {
  font-size: 10px;
  color: gray;
  margin-left: auto;
}

.name {
  font-size: 20px;
}



.chat {
  margin-left: 50px;
  text-align: center;
  width: 80%;
}



/*.time-message {*/
/*  font-size: 10px;*/
/*  margin: 10px 0;*/
/*}*/

.chat-header {
  display: flex;
  justify-content: space-between;
}

/*.chat-name {*/
/*  margin-right: 50px;*/
/*  line-height: 40px;*/
/*}*/

.chat-messages {
  max-width: 70%;
  float: right;
  margin: 30px 20px 0 0 ;
  text-align: -webkit-right;
}

/*.text {*/
/*  word-wrap: break-word;*/
/*}*/

.chat-text {
  width: fit-content;
  word-wrap: break-word;
  border-radius: 20px 20px 0 20px;
  background-color: #1446a0;
  color: #cbcbcb;
  padding: 15px;
  margin: 10px 0;
  font-size: 15px;
  font-weight: 300;
  text-align: right;
  max-width: 600px;
}

.profile {
  width: 0;
  padding-top: 20px;
  text-align: center;
  background-color: #ebebeb;
  transition: all .8s;
  transform: translateX(100px);
}

.profile.active {
  transform: translateX(0);
  width: 20%;
}

.iconProfile {
  margin-right: 20px;
}
.lage-avatar {
  width: 80px;
  line-height: 80px;
  background: linear-gradient(#cfe7fa, #6393c1);
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 30px;
  margin: auto;
}

.profile-name {
  font-weight: 400;
  margin: 20px 0 15px 0;
  font-size: 20px;
}

.profile-nickname {
  color: grey;
  font-weight: 100;
  font-size: 20px;
}

.profile-connection {
  color: grey;
  margin-top: 15px;
}

.social {
  background-color: white;
  box-shadow: 0 0 13px 1px #c7c7c7;
  width: 80%;
  margin: 15px auto;
  font-size: 15px;
  border-radius: 5px;
}

.social-name{
  /*line-height: 40px;*/
  height: 40px;
  vertical-align: middle;
}


