body {
  font-family: 'Ubuntu', sans-serif;
}

.main {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 300px;
}

.contacts {
  width: 200px;
}

.contact {
  /*margin: 10px 5px;*/
  display: flex;
  font-size: 16px;
  line-height: 25px;
  vertical-align: middle;
  width: 300px;
  padding: 12px 0;
}

.contact :hover{
  background-color: #ddebf6;
}

.contact-avatar {
  width: 30px;
  height: 30px;
  background: linear-gradient(#cfe7fa, #6393c1);
  font-size: 25px;
  margin-right: 5px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  color: white;
}

.contact-name {
  vertical-align: middle;
}

.contact-last-message {
  font-size: 12px;
  color: darkgray;
  margin: 0;
  display: flex;
}

.contact-last-message .date {
  margin: 0 10px;
}

.name {
  font-size: 20px;
}

.message {
  width: 70%;
  border-radius: 20px 20px 0 20px;
  background-color: #1446a0;
  color: white;
  padding: 15px;
  margin: 10px 0;
  font-size: 15px;
  font-weight: 300;
  text-align: end;
}

.time-message {
  font-size: 10px;
}

.chat {
  width: 60%;
}

.chat-messages {
  justify-content: end;
  position: relative;
  float: right;
  margin-right: 20px;
}

.profile {
  width: 25%;
  margin-top: 20px;
  text-align: center;
}



.lage-avatar {
  width: 80px;
  line-height: 80px;
  background: linear-gradient(#cfe7fa, #6393c1);
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 30px;
  margin: auto;
}

.profile-name {
  font-weight: 400;
  margin: 20px 0 15px 0;
  font-size: 20px;
}

.profile-nickname {
  color: grey;
  font-weight: 100;
  font-size: 20px;
}

.profile-connection {
  color: grey;
  margin-top: 15px;
}

.social {
  margin: 10px 0;
  font-size: 15px;
}

.social-name{
  /*line-height: 40px;*/
  height: 30px;
  vertical-align: middle;
}

